<h1>student cookie:</h1>

<span class="bold_span">student Id:</span> <span>@ViewBag.cookieUserID</span>
<br>
<span class="bold_span">student name:</span> <span>dr.@ViewBag.cookieUserName </span>
<br>

